<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="robots" content="noindex,nofollow,noarchive" />
		<link rel="stylesheet" type="text/css" href="$scr_dir/templates/css/style.css" />
		<link rel="stylesheet" type="text/css" href="$scr_dir/templates/css/$act.css" />
		<script type="text/javascript" src="$scr_dir/templates/js/script.js"></script>
		<title>Lunalys</title>
	</head>
	<body>
		<header>
			<h1>
<!--★-->
<img src="$scr_dir/templates/img/logo_274_60.png">
<!--
				<a href="$scr_php/jump/http://act.st/" class="out" id="main_title">Lunalys</a>
				<span id="sub_title">- access analysis system -</span>
-->

			</h1>
		</header>
		<footer>
			<p></p>
		</footer>
		<nav id="sidebar">
			<h2>
				<span class="square1">□</span>
				<span class="square2">□</span>
				<span class="h2">$link_label_category_01</span>
			</h2>
			<ul>
				<li><a href="$scr_dir/">$link_label_index</a></li>
				<li><a href="$scr_php/graph/daily/">$link_label_daily</a></li>
				<li><a href="$scr_php/graph/monthly/">$link_label_monthly</a></li>
			</ul>
			<h2>
				<span class="square1">□</span>
				<span class="square2">□</span>
				<span class="h2">$link_label_category_02</span>
			</h2>
			<ul>
				<li><a href="$scr_php/detail/">$link_label_detail</a></li>
				<li><a href="$scr_php/search/">$link_label_search</a></li>
				<li><a href="$scr_php/param_daily/referrer/">$link_label_referrer</a></li>
				<li><a href="$scr_php/overlay/" class="out">$link_label_overlay</a></li>
			</ul>
			<h2>
				<span class="square1">□</span>
				<span class="square2">□</span>
				<span class="h2">$link_label_category_03</span>
			</h2>
			<ul>
				<li><a href="$scr_php/param/referrer/">$link_label_referrer</a></li>
				<li><a href="$scr_php/param/click/">$link_label_click</a></li>
				<li><a href="$scr_php/param/page/">$link_label_page</a></li>
				<li><a href="$scr_php/param/search_words/">$link_label_search_words</a></li>
				<li><a href="$scr_php/param/visit/">$link_label_visit</a></li>
			</ul>
			<h2>
				<span class="square1">□</span>
				<span class="square2">□</span>
				<span class="h2">$link_label_category_04</span>
			</h2>
			<ul>
				<li><a href="$scr_php/param/os/">$link_label_os</a></li>
				<li><a href="$scr_php/param/ua/">$link_label_ua</a></li>
				<li><a href="$scr_php/param/host_domain/">$link_label_host_domain</a></li>
				<li><a href="$scr_php/param/client_size/">$link_label_client_size</a></li>
				<li><a href="$scr_php/param/display_size/">$link_label_display_size</a></li>
			</ul>
			<h2>
				<span class="square1">□</span>
				<span class="square2">□</span>
				<span class="h2">$link_label_category_05</span>
			</h2>
			<ul>
				<li><a href="$scr_php/log_data/">$link_label_log_data</a></li>
				<li><a href="$scr_php/page_data/page/">$link_label_page</a></li>
				<li><a href="$scr_php/version/">$link_label_version</a></li>
				<li><a href="$scr_php/tracking_code/">$link_label_tracking_code</a></li>
			</ul>
		</nav>
		<article id="content" class="$act">
			<h2 id="content_header">
				<span class="square1">□</span>
				<span class="square2">□</span>
				<span class="h2">$title</span>
			</h2>$content_date
